[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/Tim-multimatrix
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Tim-multimatrix
	label-Verified = -1..+1 group user/Tim-multimatrix
	push = group user/Tim-multimatrix
	read = group user/Tim-multimatrix
	rebase = group user/Tim-multimatrix
	removeReviewer = group user/Tim-multimatrix
	submit = group user/Tim-multimatrix
[access "refs/heads/*"]
	create = group user/Tim-multimatrix
	push = +force group user/Tim-multimatrix
	pushMerge = group user/Tim-multimatrix
	read = group user/Tim-multimatrix
[access "refs/tags/*"]
	push = group user/Tim-multimatrix
	push = +force group user/Tim-multimatrix
